@import 'portfolio.media.css';

/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Secular+One&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #0D1117;
}

* {
    user-select: none;
    font-family: 'Oswald', sans-serif;
    font-family: 'Secular One', sans-serif;
}

li {
    list-style: none;
}

a {
    color: orange;
    text-decoration: none;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    height: 80px;

    background-color: #161B22;
    border-bottom: 1px solid orange;
}

.page-navbar {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-username {
    font-size: 1.5em;
}

#menu {
    display: flex;
    /* flex-direction: row; */
}

#menu a {
    margin: 0 20px;
    font-size: 1.25em;
    box-sizing: border-box;
    transition: ease-in .2s;
}

#menu a:hover {
    color: white;
    border-top: 1px solid white;
}

.page-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    position: relative;
    min-height: 60vh;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.left-side_content {
    padding: 10px;
    line-height: 50px;
}
.left-side_content p {
    color: white;
    font-size: 1.5em;
}
#maxim-dudai, #front-end {
    color: orange;
    background-color: white;
    padding: 10px 20px;
    margin-left: 5px;
    border: 0;
    border-radius: 5px;
    transition: ease-in-out .3s;
    cursor: grab;
}
#maxim-dudai:hover, #front-end:hover {
    background-color: orange;
    color: white;
}
#hello-world { cursor: grab; }

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid orange;
}

.linkedin, .github {
    margin-top: 5px;
}

.linkedin:hover, .github:hover {
    transform: scale(1.1);
}

#linkedin-link, #github-link {
    padding: 10px 20px;
    border: 1px solid orange;
    border-radius: 5px;
    transition: ease-in-out .3s;
}
#linkedin-icon, #github-icon {
    color: white;
    margin-right: 5px;
}

#linkedin-link:hover, #github-link:hover {
    background-color: orange;
    color: white;
}

[data-menu="button"] {
    display: none;
}

@media (max-width: 800px) {
    nav {
        padding: 0 5% !important;
    }

    [data-menu="button"] {
        display: block;
        background-color: #151515;
        border: none;
        border-top: 3px orange solid;
        padding: .8rem 1rem;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        z-index: 100;
    }

    [data-menu="button"]::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: orange;
        transition: .3s transform;
    }

    [data-menu="button"]::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 50%;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: orange;
        transition: .3s transform;
    }

    [data-menu="list"] {
        visibility: hidden;
        position: absolute;
        top: 10%;
        right: 1.5%;
        box-shadow: 0 4px 4px rgba(0,0,0,.3);
        background-color: #151515;
        padding: 10px;
        z-index: 50;
        margin: 0;
        font-family: "Inter", sans-serif;
    }

    [data-menu="list"].active {
        display: block;
        visibility: visible;
        animation: show-down .3s forwards;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .page-content {
        display: flex;
        justify-content: center;
    }

    .content {
        justify-content: center;
    }

    #home-page-img {
        display: none;
    }
    p, span {
        font-size: 12px;
    }
    .page-content, .content {
        width: 100%;
    }
    .left-side_content {
        padding: 0;
    }
    .about p, .about span {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social-links {
        display: flex;
        flex-direction: column;
    }
    .social-links a {
        font-size: 12px;
    }
}

@media (max-width: 1285px) {
    #home-page-img {
        width: 400px;
        height: 250px;
    }
    .about {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    .about p {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .social-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
    }
}

@media (max-width: 1550px) {
    .about p {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}