@import 'portfolio.media.css';

/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Secular+One&display=swap');

/* about me description */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: #0D1117;
}

.up-arrow {
    display: flex;
    align-items: center;

    visibility: hidden;
    position: fixed;

    width: 12px;
    height: 12px;

    right: 2vw;
    bottom: 5vh;

    padding: 1rem;
    border: 1px solid orange;
    color: white;
    border-radius: 100%;
    cursor: pointer;
}

* {
    font-family: 'Oswald', sans-serif;
    font-family: 'Secular One', sans-serif;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
}

a {
    color: orange;
    text-decoration: none;
}


.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    height: 80px;

    background-color: #161B22;
    border-bottom: 1px solid orange;
}

.page-navbar {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-username {
    font-size: 1.5em;
}

#menu a {
    margin: 0 20px;
    font-size: 1.25em;
    box-sizing: border-box;
    transition: ease-in .2s;
}

#menu a:hover {
    color: white;
    border-top: 1px solid white;
}

/* page content */

#home-page-img {
    width: 100%;
    height: 25%;
}

.page-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    position: relative;
    min-height: 75vh;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.left-side_content {
    padding: 10px;
    line-height: 50px;
}
.left-side_content p {
    color: white;
    font-size: 1.5em;
}
#maxim-dudai, #front-end {
    color: orange;
    background-color: white;
    padding: 10px 20px;
    margin-left: 5px;
    border: 0;
    border-radius: 5px;
    transition: ease-in-out .3s;
}
#maxim-dudai:hover, #front-end:hover {
    background-color: orange;
    color: white;
}
.social-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    border-top: 1px solid orange;
}

.linkedin, .github {
    margin: 25px 5px 0;
    margin-top: 25px;
}

.linkedin:hover, .github:hover {
    transform: scale(1.1);
}

#linkedin-link, #github-link {
    padding: 10px 20px;
    border: 1px solid orange;
    border-radius: 5px;
    transition: ease-in-out .3s;
}
#linkedin-icon, #github-icon {
    color: white;
    margin-right: 5px;
}

#linkedin-link:hover, #github-link:hover {
    background-color: orange;
    color: white;
}
/* about me */

.about-me {
    background-color: #161B22;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid orange;
    height: 500px;
}

.about-me-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.about-me_image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me-photo {
    width: 25rem;
    height: 15rem;
    border: 0;
    border-radius: 5px;
    background: rgb(13,17,23);
    background: linear-gradient(180deg, rgba(13,17,23,1) 0%, rgba(22,27,34,1) 100%);
    padding: 10px;
    margin-bottom: 15px;
}
.personalLink {
    margin: 0 10px;
    width: 50%;
    border: 1px solid orange;
    text-align: center;
    padding: 5px 20px;
    border-radius: 5px;
    transition: ease-in-out .3s;
}
.personalLink:hover {
    background-color: orange;
    color: white;
}

.personalIcon {
    margin-right: 5px;
}
.about-me_info {
    margin-left: 5%;
    line-height: 30px;
    color: white;
    letter-spacing: 1.5px;
}
#about-me {
    font-family: 'Inter', sans-serif;
    font-size: 1.25em;
}

/* projects */

.projects {
    margin-top: 7%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.my-projects {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    grid-template-rows: auto;
    row-gap: 2rem;
    justify-content: center;
}

#my-project-title {
    color: white;
    font-size: 1.5em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.projectTitle {
    color: white;
    padding: 5px;
    border-bottom: 2px solid white;
    /* width: 50%; */
    width: auto;
    text-align: center;
    margin-bottom: 10px;
}

.project-item {
    background-color: #161B22;
    width: 400px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    transition: ease-in-out .3s;
}
.project-item:hover {
    transform: scale(1.1);
}

.code-link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
}
.code-link a {
    border: 1px solid orange;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
}
.code-link a:hover {
    color: white;
}

.project-image {
    width: 100%;
    height: 70%;
}
.noProject {
    width: 50%;
    height: 50%;
}

#soon-img {
    width: 50%;
}
a[available="false"] {
    pointer-events: none;
}

.used-tech {
    color: white;
    font-size: 2em;
    margin-top: 5%;
}

.used-tech i {
    margin: 0 10px;
}
/* projects */


/* global */
@media (max-width: 1550px) {
    .about p {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .about-me-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #about-me-photo {
        width: 250px;
        height: 128px;
    }
    .personalLink {
        margin-top: 10px;
    }
    .about-me_info {
        width: 100%;
    }
    #about-me {
        font-size: .8em;
    }
    .about-me_image {
        width: 100%;
    }   
    .about-me_info {
        letter-spacing: 1.5px;
        line-height: 15px;
    }
    .my-projects { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 1285px) {
    .my-projects { 
        width: 100%;
        grid-template-columns: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #home-page-img {
        width: 400px;
        height: 250px;
    }
    .about {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    .about p {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .social-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .page-content {
        display: flex;
        justify-content: center;
    }

    .content {
        justify-content: center;
    }

    #home-page-img {
        display: none;
    }
    p, span {
        font-size: 12px;
    }
    .page-content, .content {
        width: 100%;
    }
    .left-side_content {
        padding: 0;
    }
    .about p, .about span {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social-links {
        display: flex;
        flex-direction: column;
    }
    .social-links a {
        font-size: 12px;
    }
}