@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: url('http://www.rw-designer.com/cursor-extern.php?id=9872'), auto;
}

/* Default styles */
.theme-ligth {
    color: theme('colors.dark');
    background-color: theme('colors.light');
}
.theme-dark {
    color: theme('colors.light');
    background-color: theme('colors.dark');
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #f1f1f121; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #797979; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #494949; 
  }